#buttondivs {
    display: flex;
}
.divtextcotainers {
    display: flex;
    flex-direction: column;
    font-size: 5px;
}

#textBoxe {
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    width: 20%;
    border: solid green 3px;
    position: absolute;
    top: 5%;
    left: 44%;
    font-size: 250%;
}

#buttonbox {
    display: block;
    width: 30%;
    box-sizing: border-box;
    border: solid white 3px;
}
button {
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
button:active {
    background-color: green;
}
.button-activety-can-buy-upgrade {
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: lightgreen;
}
.button-activety-can-not-buy-upgrade {
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: lightcoral;
}

.mainButtonDiv {
    position: absolute;
    top: 50%;
    left: 48%;
}
.mainbutton {
    display: inline-block;
    padding: 40px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: red;
    background-color: red;
    border: none;
    border-radius: 150px;
    box-shadow: 0 10px black;
    width: auto;
}

.mainbutton:hover {
    background-color: red;
}

.mainbutton:active {
    background-color: red;
    box-shadow: 0 5px black;
    transform: translateY(4px);
}

html {
    background-color: gray;
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: solid orange 3px;
    padding: 1px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
